body {
    background: #fff;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    font-family: "Lucida Grande",Verdana,Arial,Sans-serif;
}

h1 {
    margin-left: 90px;
    margin-top: 1em;
}

p {
    margin-left: 90px;
    width: 750px;
}

.container {
    height: 650px;
    width: 98%;
}

#holder {
    position: absolute;
    top: 0px;
    left: -10px;
}

#data {
    position: relative;
}

#hr {
    top: 100px;
    left: 15px;
}

#sap {
    top: 200px;
    left: 15px;
}

#idm {
    top: 300px;
    left: 15px;
}

#payroll {
    top: 400px;
    left: 15px;
}

#peoplesoft {
    top: 500px;
    left: 15px;
}

#swimlanes {
    height: 550px;
}

.title {
    width: 75px;
    position: absolute;
    text-align: right;
}

#date {
    position: absolute;
    top: 350px;
    left: 15px;
    
}

#timeDiv {
    position: relative;
    left: 90px;
    width: 90%;
    margin-top: 3px;
}

#timeDiv > div {
    margin-right: 11%;
    display: inline-block;
}

#timeDiv > span {
    display: block;
    position: absolute;
    left: -5em;
    top: 1px;
}

#popup {
    display: none;
    border: thin solid lightgray;
    padding: 0.75em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 10;
    position: absolute;
    background: #F9F9F9;
    width: 210px;
}

#popup h4 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 0.5em;
}


.weak {
  color: gray;
  font-size: 0.80em;
}

#maintitle {
    position: relative;
    top: 15px;
    left: 75%;
}

.red {
    color: #D54E21;
}

#expl {
    border: thin solid lightgray;
    padding: 0.75em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #F9F9F9;
    width: 45em;
    font-size: 16px;
    line-height: 24px;
    margin-left: 90px;
    margin-top: 3em;
}
    
